 .search{
	border: 2px solid #ccc; /*#ccc*/
    text-align: center;
    padding-top:3px;
    padding: 13px;    
    border-radius:50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    outline: none;
 }
 