#entireThing {
    background-color: #f2f2f2
}

#mainBody {
   white-space: nowrap;
}

#rgLogo {
    height: 250px;
    width: 250px;
}

#resultsTitle {
    font-family: 'ARBONNIE';
    font-size: 150px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

#filterTitle {
    font-family: 'ARBONNIE';
    font-size: 75px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

#applyButton {
    border: none;
    height: 50px;
    margin-left: 10%;
    background: #f1f1f1;
}

.numberSlider {
    width: 75px;
}

.recipeName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}

.percentage {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    float: left;
    color: green
}

.requiredIng {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: right;
    color: coral
}

.filterSubtitle {
    font-family: 'ARBONNIE';
    font-size: 40px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

.filterText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.filterCard {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.staticCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #ff5454;
}

.filterPanel {
    margin: 0;
    padding: 0;
    width: 300px;
    position: fixed;
    height: 100%;
    overflow: auto;
    border:1px solid black;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.results {
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
}
