@font-face {
    font-family: 'ARBONNIE';
    src: url('./fonts/ARBONNIE.eot');
    src: local('☺'),
         url('./fonts/ARBONNIE.woff') format('woff'), 
         url('./fonts/ARBONNIE.ttf') format('truetype'), 
         url('./fonts/ARBONNIE.svg#ARBONNIE') format('svg');
    font-weight: normal;
    font-style: normal;

}
#arTitle
{
    font-family: 'ARBONNIE';
    font-size: 250px;
    font-weight: lighter;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
#entireThing
{
    background-color: #f2f2f2
}
#mainBody 
{
   white-space: nowrap;
}
.ingredientSearch
{
    text-align: center;
    margin-bottom: 35px;
    overflow: auto;
    line-height: 70%;

    /*padding-bottom: 200px;    */

}
#search
{
    border: 2px solid #ccc; /*#ccc*/
    text-align: center;
    padding-top:3px;
    padding: 13px;    
    border-radius:50px;
    font-family: 'Helvetica';
    font-size: 40px;
    outline: none;
    /*vertical-align: top;*/
    

    
}
#addIngr
{

    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color:#65c33d;
    border: 1.5px solid #ccc;
    color:#ffffff;
    cursor: pointer;
    outline: none;
    line-height: 70%;
    vertical-align: 40%;

}
#addIngr:hover {
    /*opacity: 1;*/
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #65c33d), color-stop(1, #65c33d));
    background:-ms-linear-gradient(top, #65c33d 5%, #65c33d 100%);
    background:linear-gradient(to bottom, #65c33d 5%, #65c33d 100%);
    background-color:#65c33d;
}
#addIngr:active {
    
    top:1px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}
#ingredientsLabel
{
    font-family: 'ARBONNIE';
    font-size: 40px;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 0px;
}
#returnedIngredients
{
    /* Remove default list styling */
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}
#returnedIngredients li a 
{
    border: 2px solid #ccc; /* Add a #ddd border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #ff5454; /* Grey background color */
    padding: 12px; /* Add some padding */
    font-family: 'Helvetica';
    text-decoration: none; /* Remove default text underline */
    font-size: 22px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}
#returnedIngredients li a:hover:not(.header) 
{
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
#goGuru
{
    text-align: center;
}
#submit 
{
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);*/
    background-color:#f24537;
    border:1px solid #d02718;
    color:#ffffff;
    outline: none;
    /*Customisations*/
    border: 3px solid #ccc;
    padding: 13px;
    border-radius:50px;
    box-shadow: 0 7px #999;
    font-family: 'ARBONNIE';
    font-size: 40px;
    font-weight: bold;
    outline: none;
    cursor: pointer;

}
/*This causes button to appear indented when hovered over*/
#submit:hover 
{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
}
/*This allows button to be pressed visually*/
#submit:active
{
    
    top:1px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Kojo's Additions */
.suggestedItem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.suggestedItem:hover {
    background: grey;
}
.suggestedItem:active {
    background: #ff5454;
}

.removeIng {
    border: none;
    background: #ff5454;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 10px;
}
.removeIng:hover {
    background: #af3838;
}
.removeIng:active {
    background: #611f1f;
}
.selectedIng {
    background: #ff5454;
    height: 30px
}

/* LIST #8 */
#list8 {  }
#list8 ul { list-style:none; }
#list8 ul li { font-family:'Helvetica'; font-size:18px; }
#list8 ul li a { display:block; width:300px; height:28px; background-color:#333; border-left:5px solid #222; border-right:5px solid #222; padding-left:10px;
  text-decoration:none; color:#bfe1f1; }
#list8 ul li a:hover {  -moz-transform:rotate(-5deg); -moz-box-shadow:10px 10px 20px #000000;
  -webkit-transform:rotate(-5deg); -webkit-box-shadow:10px 10px 20px #000000;
  transform:rotate(-5deg); box-shadow:10px 10px 20px #000000; }


#rgLogo
{
   text-align: center;
}


